{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div id="particles-js" class="background">
    <div class="counter">
        <h1>Feliz Aniversário</h1>
        <img src="{% static 'img/beemon.jpeg' %}" alt="Logo" class="logo">
        <h2>Sandra</h2>
        <p class="msg">
            Nós da Equipe beeMôn te desejamos muita luz nessa nova jornada, que o amor e o cuidado continue transbordando.
            Você é uma mulher incrível, somos gratos por partilhar essa data tão importante contigo... Agora da play nesse vídeo
        </p>
        <iframe width="100%"  src="https://www.youtube.com/embed/_ZtAu-DI42A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}